.git
.gitignore
.vs
.vscode
.idea

**/bin
**/obj
**/TestResults

ApiAggregator.Test/bin
ApiAggregator.Test/obj

.dotnet
*.user
*.suo
*.cache
*.log

README.md
INTERVIEW_QA.md
INTERVIEW_PRACTICE_ANSWERS.md
PROJECT_SUMMARY.md
NEWS_AND_SPOTIFY_GUIDE.md
